<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" ng-app="myApp"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title>HackPAC</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/customstyle.css" />
  </head>
  <body>
    <div id="wrapper">
      <div id="page">
	<header>
	  <div id="logo"></div>
	  <!--	  <input id="search" type=search name=s>-->
	  <ul id="inner-nav">
	    <li><a href="#">Blog</a></li>

	    <li><a href="#">Support Portal</a></li>

	    <li><a href="#">Partner Portal</a></li>

	    <li><a href="#">Contact Us</a></li>
</nav>
<div class="front-page-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
</header>
<div class="view" ng-view></div>
<footer>
</footer>
</div>
</div>

  <!-- In production maybe use a CDN -->
  <script src="js/lib/angular/angular.js"></script>
  <script src="js/lib/angular/angular-route.js"></script>
  
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers/home.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
</body>
</html>

